{
  "presets": [
    "stage-2",
    ["env", {
        "production": {
          "modules": false,
          "targets": {"browsers": "> 1%"},
          "useBuiltIns": true,
          "presets": ["babili"]
        }
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import",
    ["transform-class-properties", {"spec": true}]
  ]
}
